.site-footer{
  padding-top:4rem;
  h2{
    font-size: 1.5rem;
  }
  a {
    transition: color linear var(--transition-speed);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .touchin{
    input{
      border-radius: 2rem;
      height: calc(2em + 0.75rem + 2px);
      
      background-color: var(--clr-blue-dark);
      color:var(--clr-white);
      @include breakpoint-up('xl-phone'){
        min-width: 270px;
      }
      &::placeholder {
        color: currentColor;
      }
    }
    .btn{
      border-radius: 2rem;
      border:1.5px solid var(--clr-white);
      color:var(--clr-white);
      background-color: transparent;
      padding:.5rem 1.57rem;
      transition: all linear var(--transition-speed);
      &:hover,
      &:focus {
        color: var(--clr-blue-dark);
        background-color: var(--clr-white);
      }
    }
  }
  .footer-wrap{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    @include breakpoint-up('lg-tab'){
      grid-template-columns: repeat(2,1fr);
    }
    &_left{
      @include breakpoint-down('lg-tab'){
        order:1;
      }
    }
    &_right{
      display: grid;
      grid-template-columns: repeat(2,50%);
      column-gap: 2rem;
      @include breakpoint-up('xl-phone'){
        grid-template-columns: repeat(3,1fr);
      }
      @include breakpoint-down('lg-tab'){
        margin-top:1.5rem;
        margin-bottom: 3rem;
      }
      h5{
        margin-bottom: 1rem;
      }
      ul{
        li{
          margin-top: .5rem;
        }
      }
    }
  }
  .social-icons {
    svg {
      &:hover,
      &:focus {
        path {
          fill: var(--clr-white);
        }
      }
    }
  }
}