//Toothpillow color setting
$black-900: #000000;
$black-700: #323232;
$black-600: lighten($black-700, 20%);
$blue: #B6CAE3;
$blue-dark:#99B4D7;
$blue-600:#5988C2;
$blue-light: #dee6ee;
$blue-400:#D6E0ED;
$purple:#E8DBE7;
$purple-dark: #a870a4;
$purple-light: #d7bcd7;
$green: #8cd1c8;
$green-light:#9BCFC8;
$cream: #f8f3ea;
$cream-light:#FEF8EE;
$pink: #eaadca;
$pich: #f4cdc6;
$pich-light: #f8f4ed;
$yellow: #FDBE67;
$white: #fff;
$bg:#FCFCFA;
$brown: #BF4A5C;

:root {
  --clr-body: #{$black-700};
  --clr-blue: #{$blue};
  --clr-blue-600:#{$blue-600};
  --clr-blue-light: #{$blue-light};
  --clr-blue-dark:#{$blue-dark};
  --clr-blue-400:#{$blue-400};
  --clr-purple:#{$purple};
  --clr-purple-dark: #{$purple-dark};
  --clr-purple-light: #{$purple-light};
  --clr-green: #{$green};
  --clr-green-light:#{$green-light};
  --clr-cream: #{$cream};
  --clr-cream-light:#{$cream-light};
  --clr-pink: #{$pink};
  --clr-pich: #{$pich};
  --clr-pich-light: #{$pich-light};
  --clr-yellow: #{$yellow};
  --clr-white: #{$white};
  --clr-brown: #{$brown};
  --clr-bg:#{$bg};
  --transition-speed: 0.3s
}

//for dark and light theme

// :root[data-theme="light"] {
// }

// :root[data-theme="light"] {
// }
