%menu-after{
  padding:1.5rem .5rem;
  display: block;
  position: relative;
  &::after{
    content:'';
    width:0;
    position: absolute;
    @include transition (width .4s ease-in-out);
    bottom:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    height: 5px;
    background-color: var(--clr-blue);
  }
}
%menu-after_active{
  &::after{
    width: 100%;
    right:0;
    opacity: 1;
    visibility: visible;
    display: block
  }
}
.site-header{
  z-index: 99;
  position: relative;
  &_desktop{
    .top-header{
      background-color: var(--clr-white);
      position: relative;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
      &_left{
        li{
          a{
            @extend %menu-after;
          }
          &:first-child{
            a{
              padding-left: 0;
  
            }
          }
          &.is-active,&:hover{
            a{
              @extend %menu-after_active;
            }
          }
  
        }
        
      }
    }
    @include breakpoint-down ('lg-tab'){
      display: none;
    }
  }
  &_mobile{
    background-color: var(--clr-white);
    .top-header{
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .bottom-header{
      position: relative;
      &_left{
        li{
          a{
            @extend %menu-after;
          }
          &:first-child{
            a{
              padding-left: 0;
  
            }
          }
          &.is-active,&:hover{
            a{
              @extend %menu-after_active;
            }
          }
  
        }
        
      }
    }
    @include breakpoint-up ('lg-tab'){
      display: none;
    }
  }
  
}

@import 'menu';

