%menu-after {
  padding: 1.5rem 0.5rem;
  display: block;
  position: relative;
  &::after {
    content: "";
    width: 0;
    position: absolute;
    @include transition(width 0.4s ease-in-out);
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    height: 5px;
    background-color: var(--clr-primary);
  }
}
%menu-after_active {
  &::after {
    width: 100%;
    right: 0;
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
nav {
  position: relative;
  ul {
    column-gap: 2rem;

    li {
      a {
        transition: color 0.5s;
        @extend %menu-after;
        @include breakpoint-up("lg-tab") {
          padding: 1.5rem 0;
        }
      }
      &.is-active {
        a {
          color: var(--clr-primary);
          &::after {
            width: 100%;
            right: 0;
            opacity: 1;
            visibility: visible;
            display: block;
          }
        }
      }
    }
  }
}
